@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500;1,700;1,900&family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}

.index {
  background-image: url("/img/home-hero.jpg");
  background-size: cover;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("/img/amped_header.jpg");
  background-size: cover;

  width: 100vw;
}

header.index-header {
  margin-top: 20px;
  background-color: rgba(7, 14, 88, 0.7);
  background-image: none;
  font-size: 1.7rem;

  width: auto;
}

header > div.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px;
  background-color: rgba(7, 14, 88, 0.7);
  font-size: 1.2rem;
}

header img {
  margin-top: 10px;
  width: 200px;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0 50px 10px;
}

header.index-header ul {
  margin: 20px 0;
  width: 550px;
}

header ul > li {
  margin: 10px 15px;
}

/* Links */
a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
}

.calendario table a {
  color: #5865f2;

  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #5865f2;
  padding-bottom: 0;
}

.calendario table a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #a4f479;
  padding-bottom: 0;
}

header a:hover:not(.logo),
header a:focus:not(.logo),
footer a:hover,
footer a:hover,
header a.selected {
  color: #a4f479;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #a4f479;
}

/* CONTENT IN INDEX.HTML */
.index > main {
  margin: 8vh 8vw 0;
  text-align: center;
}

.index > main > img {
  width: 550px;
}

.index > main > h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

/* OTHER CONTENT */
/* Content containers */
main {
  margin-top: 20px;

  color: #070e58;
}

.info > main > section.info-grupos,
main > section.texto {
  margin: 0 25vw;
}

.info > main > section.cabezas-cartel {
  margin: 5vh 15vw;
}

.calendario > main > section.tabla {
  margin: 5vh 15vw 10vh 15vw;
}

.tickets > main > section.form {
  margin: 5vh 23vw;
}

/* Text headers */
.info > main > section.info-grupos > h1,
.calendario > main > section.texto > h1 {
  text-align: center;
  font-weight: 900;
  font-size: 2.3rem;
}

.info > main > section.cabezas-cartel > h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

/* Lists */
.info > main > section.cabezas-cartel > dl {
  margin-left: 5%;
}

.info > main > section.cabezas-cartel > dl > dt {
  font-size: 1.4rem;

  margin: 20px 0 5px auto;
}

.info > main > section.cabezas-cartel > dl dd {
  margin-bottom: 5px;

  line-height: 1.6rem;

  font-weight: 300;
}

.info > main > section.cabezas-cartel > dl > div {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5865f2;
}

.info > main > section.cabezas-cartel dl dd span {
  font-weight: 700;
}

.tickets > main ul {
  list-style: none;
  padding: 0;
}

/* Text */
.info > main > section.cabezas-cartel p {
  margin: 2px;
}

main p,
.calendario > main table,
.calendario > main table th:not([scope="col"]) {
  text-align: left;
  font-weight: 300;
  line-height: 1.6rem;
}

/* Images and videos */
.info > main iframe {
  width: 100%;
  height: 40vh;
  margin-top: 20px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}

.calendario > main table tr:nth-child(odd):not(.cabecera, .pie) {
  background-color: #a4f479;
}

.calendario > main table > caption {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: #5865f2;
  border-bottom-color: #5865f2;
  border-top-style: solid;
  border-bottom-style: solid;

  font-weight: 700;

  padding-top: 10px;
  padding-bottom: 10px;
}

.calendario > main table th,
.calendario > main table td {
  padding: 5px;
}

.calendario > main table > tfoot {
  border-bottom-width: 1px;
  border-bottom-color: #5865f2;
  border-bottom-style: solid;
}

.calendario > main table > tfoot > tr > td {
  padding-top: 10px;
}

/* Forms */
.tickets > main form > ul fieldset {
  background-color: rgb(88, 101, 242, 0.3);
  border: none;
  border-radius: 3px;

  margin-top: 20px;
  padding: 20px;
}

.tickets > main form > ul fieldset.peticiones,
.tickets > main form > ul fieldset.button {
  background: none;

  padding: 0;
}

.tickets > main form > ul fieldset.peticiones textarea {
  width: 100%;
  margin: 0;

  border: none;
}

.tickets > main form > ul fieldset.button button {
  width: 100%;

  border: none;
  border-radius: 3px;

  background-color: #5865f2;
  color: #fff;

  font-weight: 500;

  padding: 15px;
}

.tickets > main form > ul fieldset.personal {
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
}

.tickets > main form > ul fieldset.tarjeta {
  display: grid;
  grid-template-columns: 39% 29% 30%;
  column-gap: 1%
}

.tickets > main form > ul fieldset.envio {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 10%;
}

.tickets > main form > ul fieldset.envio > div {
  display: grid;
  grid-template-columns: 33% 32% 33%;
  column-gap: 1%;
}

.tickets > main form > ul fieldset.personal > div > input {
  width: 100%;
}

.tickets > main form > ul fieldset legend {
  font-weight: 700;
  font-size: 1.1rem;

  margin-bottom: 10px;
}

.tickets > main form > ul fieldset label {
  font-weight: 500;
  font-size: 0.9rem;
}

.tickets > main form > ul fieldset span.obligatorio {
  font-size: 1rem;
  color: red;
  margin-left: 5px;
}

.tickets > main form > ul fieldset input,
.tickets > main form > ul fieldset select {
  font-weight: 300;
  font-size: 0.7rem;

  border: none;
  border-radius: 3px;

  margin: 10px 0;
  padding: 5px;
}

.tickets input[required]:invalid {
  border-width: 2px;
  border-style: solid;
  border-color:red;
  border-radius: 3px;
}

.tickets input[required]:valid {
  border-width: 2px;
  border-style: solid;
  border-color:greenyellow;
  border-radius: 3px;
}

.tickets input[required]:placeholder-shown {
  border: none;
}

/* Footer */
footer {
  display: block;
  justify-content: left;
  background-color: #070e58;
  width: 100vw;

  font-weight: 300;
}

footer.index-footer {
  margin-top: auto;
  display: block;
  justify-content: center;

  background: none;

  width: auto;

  font-weight: 500;
}

footer > ul {
  display: flex;

  list-style: none;

  padding: 0;
  margin-top: 30px;
  margin-left: 15%;
}

footer.index-footer > ul {
  justify-content: center;
  margin: 20px 0;

  font-size: 1.5rem;
}

footer > ul > li {
  margin-right: 20px;
}

footer.index-footer > ul > li {
  margin: 10px 15px;
  font-size: 1.2rem;
}

footer > p {
  margin-bottom: 50px;
  margin-left: 15%;
  font-size: 0.8rem;
}

footer.index-footer > p {
  margin: auto;
  font-size: 1rem;
  text-align: center;
}

/* Media queries */
@media screen and (min-width: 1480px) {
  footer.index-footer {
    background-color: rgba(7, 14, 88, 0.7);
  }
}

@media screen and (max-width: 830px) {
  table {
    font-size: 0.8rem;
  }
}
